.container {
    display: flex;
    background: yellow;
    flex-grow: 1;
    height: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: flex-end;
}

.item {
    width:  100px;
    height: 100px;
    background: purple;
    margin-left: 5px;
}