* {
    margin: 0px;
}

body {
    background: linear-gradient(to right, #C7C7C7, #F2F2F2, #C7C7C7);
}

.main {
    width: 840px;
    height: 400px;
    background-color: #FFF;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.main, .thumbnails{
    box-shadow: 0 7px 15px #000;
}

.jedi {
    width: 740px;
    height: 100%;
}

.container {
    position: relative;
}

.arrow {
    cursor: pointer;
}

.right {
    transform: rotate(180deg);
}

.description {
    position: absolute;
    width: 100%;
    height: 150px;
    top: 250px;
    background-color: black;
    opacity: 0.5;
}

.navbar {
    list-style: none;
    margin: 0 auto;
    display: flex;
    width: 430px;
    justify-content: space-between;
    padding: 0;
}


.thumbnails {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 3px solid white;
}

.thumbnails:hover {
    filter: brightness(150%);
}