* {
    margin: 0;
}

.container {
    background: #FE6644;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr)
}

button {
    width: 150px;
}

.remover {
    grid-row: 2;
    grid-column: 1;
}

.elevator {
    padding: 0;
    grid-row: 1/2;
    grid-column: 2;
}

.floor {
    width: 300px;
    background-color: white;
    border: 1px solid black;
}