* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(74, 66, 97)
}
main {
    background: rgb(220, 214, 205);
    width: 60%;
    height: 900px;
    margin: 10px auto;
    padding-top: 15px;
}
div {
    margin: 0 0 15px 0;
    padding: 15px;
}
.column {
    width: 50%;
    display: inline-block;
    height: 435px;
    margin-right: -4px;
}
article {
    border: 1px solid black;
    height: 145px;
    margin-top: 15px;
}
article.column {
    height: 45px;
}
div.column {
    vertical-align: top;
}
#header {
    font-size: 32px;
}
input[type="text"] {
    width: 100%;
}
label {
    font-weight: bold;
    font-size: 12px;
}
#multiple {
    color: grey;
    font-size: 12px;
}

