* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(220, 214, 205);
}
main {
    width: 80%;
    height: 900px;
    background-color: green;
    margin: 10px auto;
    padding-top: 15px;
}
div {
    margin: 0 0 15px 0;
    padding: 15px;
    background: red;
}
.column {
    width: 50%;
    display: inline-block;
    height: 435px;
    margin-right: -4px;
}
article {
    border: 1px solid black;
    height: 145px;
}
article.column {
    height: 45px;
    margin-top: 45px;
}
div.column {
    vertical-align: top;
}


