* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(74, 66, 97)
}

main {
    background: rgb(220, 214, 205);
    width: 60%;
    height: 900px;
    margin: 10px auto;
    padding: 15px 100px 0 100px;
}
div {
    margin: 0 0 15px 0;
    padding: 15px;
}
.column {
    width: 50%;
    display: inline-block;
    height: 435px;
    margin-right: -4px;
}
article {
    height: 145px;
    margin-top: 15px;
}
article.column {
    height: 45px;
}
div.column {
    vertical-align: top;
}
#header {
    font-size: 32px;
}
input {
    margin: 5px 0 5px 0;
}
div.column > input, select {
    width: 100%;
    border-radius: 4px;
    padding: 10px;
}
#date {
    
}
label {
    font-weight: bold;
    font-size: 13px;
    padding: 5px 0 5px 0;
}
p {
    color: white;
    background: rgb(147, 150, 151);
    padding: 12px;
    border-radius: 4px 4px 4px 4px;
}
#multiple {
    background: none;
    padding: 0;
    color: grey;
    font-size: 12px;
}
a {
    font-weight: lighter;
    color: grey;
}

